extends layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 Quản lý hãng bay
				.col-sm-6
					ol.breadcrumb.float-sm-right
						li.breadcrumb-item
							a(href='#') Admin
						li.breadcrumb-item.active Quản lý hãng bay
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							.row 
								.col-12 
									button.btn.btn-primary(type='button' data-toggle='modal' data-target='#addFacultyModal' style="margin-bottom: 5px;")
										| Thêm mới
									// Modal
									#addFacultyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addFacultyModal' aria-hidden='true')
										.modal-dialog(role='document')
											.modal-content
												.modal-header
													h5.modal-title Thêm mới
													button.close(type='button' data-dismiss='modal' aria-label='Close')
														span(aria-hidden='true') &times;
												form(action="/admin/addbrand", method="post")
													.modal-body
														.form-group
															label Tên viết tắt hãng bay
															input.form-control(type='text' placeholder='Số điện thoại' name='id')
														.form-group
															label Tên hãng bay
															input.form-control(type='text' placeholder='Mật khẩu' name='name')
														
													.modal-footer
														button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng lại
														button.btn.btn-primary(type='submit' margin-bo) Thêm mới
							.row
								.col-12
									table#tab-faculty.table.table-bordered.table-striped
										thead
											tr
												th.text-center Tên viết tắt hãng bay
												th.text-center Tên hãng bay
												th.text-center Chỉnh sửa
										tbody
											each brand in brandList
												tr 
													td.text-center=brand.id
													td.text-center=brand.name 
													td.text-center 
														btn.btn-deleteBrand.btn.btn-danger.btn-xs(data-id=brand.id)
															i.fas.fa-trash 
									#deleteBrandModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteBrandModal' aria-hidden='true')
										.modal-dialog(role='document')
											.modal-content.bg-danger
												.modal-header
													h5.modal-title Xóa
													button.close(type='button' data-dismiss='modal' aria-label='Close')
														span(aria-hidden='true') &times;
												form(action="/admin/deletebrand", method="post")
													.modal-body
														input(type="hidden", name="id")
														p Bạn có chắc chắn muốn xóa hãng bay này không?
													.modal-footer
														button.btn.btn-outline-light(type='button' data-dismiss='modal') Đóng lại
														button.btn.btn-outline-light(type='submit') Xác nhận
