doctype html
html(lang='en')
  head
    // basic
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    // mobile metas
    link(rel='icon' href='../images/logo2.png' type='image/icon type')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='viewport' content='initial-scale=1, maximum-scale=1')
    // site metas
    title S Airline
    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    meta(name='keywords' content='')
    meta(name='description' content='')
    meta(name='author' content='')
    // bootstrap css
    //- link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel="stylesheet", href="../css/bootstrap.min.css")
    // style css
    link(rel='stylesheet' href='../css/style-home_page.css')
    link(rel='stylesheet' href='..//css/style-login.css')
    // Responsive
    link(rel='stylesheet' href='../css/responsive.css')
    link(rel='stylesheet' href='../css/FormStyle.css')
    // fevicon
    link(rel='icon' href='../images/fevicon.png' type='image/gif')
    // Scrollbar Custom CSS
    link(rel='stylesheet' href='../css/jquery.mCustomScrollbar.min.css')
    // Tweaks for older IEs
    link(rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' media='screen')
    // Google Font: Source Sans Pro
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback')
    // Font Awesome
    link(rel='stylesheet' href='/plugins/fontawesome-free/css/all.min.css')
    // DataTables
    link(rel='stylesheet' href='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')
    link(rel='stylesheet' href='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')
    link(rel='stylesheet' href='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')
    link(rel='stylesheet' href='/css/style-login.css')
    // Theme style
    //
      if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  // body
  body.main-layout
    // loader
    // end loader
    // header
    header
      // header inner
      .header
        .container
          .row
            div(class='col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section')
              .full
                .center-desk
                  .logo
                    a(href='./')
                      img(src='../images/logo.jpg' alt='#' width='200' height='200')
            .col-xl-9.col-lg-9.col-md-9.col-sm-9
              nav.navigation.navbar.navbar-expand-md.navbar-dark
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExample04' aria-controls='navbarsExample04' aria-expanded='false' aria-label='Toggle navigation')
                  span.navbar-toggler-icon
                #navbarsExample04.collapse.navbar-collapse
                  ul.navbar-nav.mr-auto
                    li.nav-item
                      a.nav-link(href='./')  Trang chủ
                    li.nav-item
                      a.nav-link(href='/intro') Giới thiệu
                    li.nav-item
                      a.nav-link(href='/contact') Liên hệ
                    if(session.user && session.user.type == '2')
                      li.nav-item
                        a.nav-link(href='./admin') Admin
                    if(session.user)
                      li.nav-item
                        a.nav-link(href='/logout') Đăng xuất
                  if(session.user)
                    .sign_btn
                      a(href='/customer') #{session.client.name}
                  else
                    .sign_btn
                      a(href='/login') Đăng nhập
    section.banner_main
      .container
        block content