extends layout1

block content
  section.content
    #toast
    .main-form
      form#form-5.form.form-login(method='POST' action='/forgotpassword/confirmotp/newpassword/noticesuccess')
        div(class='auth-form__header')
          h3.heading-form THIẾT LẬP LẠI MẬT KHẨU
        .spacer
        .form-group
          label.form-label(for='password') Mật khẩu
          //- input#password.form-control(name='password' type='password' placeholder='Mật khẩu của bạn')
          .input-pass
            input#password.form-control(name='password' type='password' placeholder='Mật khẩu của bạn')
            span.show-btn-eye
              i.fas.fa-eye
          span.form-message
        .form-group
          label.form-label(for='password_confirmation') Nhập lại mật khẩu
          //- input.form-control(id='password_confirmation' name='password_confirmation' placeholder='Nhập lại mật khẩu' type='password')
          .input-pass
            input.form-control(id='password_confirmation' name='password_confirmation' placeholder='Nhập lại mật khẩu' type='password')
            span.show-btn-eye
              i.fas.fa-eye.eye-confirm
          span.form-message
          input#phone(name='phone' type='hidden' value=data.phone)
          if(data)
            input#checkStatus(name='checkStatus' type='hidden' value=data.status)
        span.required-pass Mật khẩu phải có it nhất 8 kí tự
        button.form-submit XÁC NHẬN
      script(src='/js/login/index.js')
      script.
        document.addEventListener('DOMContentLoaded', function() {
        // Mong muốn của chúng ta
        
        Validator({
        form: '#form-5',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
        Validator.minLength('#password', 8),
        Validator.isRequired('#password_confirmation'),
        Validator.isConfirmed('#password_confirmation', function() {
        return document.querySelector('#form-5 #password').value;
        }, 'Mật khẩu nhập lại không chính xác')
        ],        
        })
        });

    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
