extends layout 

block content 
    .search.search-box
        h3.title THÔNG TIN LIÊN HỆ / IR CONTACT
        .card-body
            .row
                .col-xs-12.col-sm-6
                    img(alt='' src='https://www.vietnamairlines.com/~/media/ContentImage/About%20Us/Lotus.jpg?la=en')
                .col-xs-12.col-sm-6
                    p(style='margin-bottom: 3pt;')
                        strong BỘ PHẬN QUAN HỆ CỔ ĐÔNG
                    p(style='margin-bottom: 3pt;') Tổng công ty Hàng không Việt Nam – CTCP 
                    p(style='margin-bottom: 3pt;') Địa chỉ: Số 200 phố Nguyễn Sơn, Quận Long Biên, Hà Nội
                    p(style='margin-bottom: 3pt;') Email: 
                        a(href='mailto:hoa.ho.van@hcmut.edu.vn') hoa.ho.van@hcmut.edu.vn
                    p(style='margin-bottom: 3pt;')

                  

    script(src="js/search.js") 
