extends layout 

block content 
    br

    .search.search-box
        h3.title Giới thiệu sơ lược
        .card-body
            .row
                .col-12
                   .p(style="text-align:justify;") Giữ vai trò chủ lực trong giao thông hàng không Việt Nam, trải qua hơn 20 năm không ngừng phát triển, S Airlines đã khẳng định vị thế là một Hãng hàng không quốc gia có quy mô hoạt động toàn cầu và có tầm cỡ tại khu vực. Năm 2015 đánh dấu bước ngoặt lớn của S Airlines khi chính thức chuyển đổi mô hình hoạt động sang công ty cổ phần, qua đó mối quan hệ gắn bó với các cổ đông được thể hiện mạnh mẽ và đóng vai trò quan trọng đối với sự phát triển bền vững của S Airlines. 
                   .p(style="text-align:justify;") S Airlines cam kết sẽ luôn đồng hành cùng các cổ đông, minh bạch công khai thông tin, duy trì và nâng cao các kênh đối thoại mở với cổ đông, tổ chức hoạt động kinh doanh an toàn, chất lượng và có hiệu quả trên cơ sở cân đối hài hòa lợi ích của cổ đông với việc đáp ứng nhu cầu phát triển kinh tế của đất nước.
    br
    br
    br

    .search.search-box
        div
            div
                h3.title
                    | Hệ thống nhận diện thương hiệu S Airlines
                    
            .row
                .col-xs-12.col-sm-6
                    img(alt='' src='https://www.vietnamairlines.com/~/media/ContentImage/About%20Us/Lotus.jpg?la=en' style="margin:auto")
                .col-xs-12.col-sm-6
                    p(style="text-align:justify;margin-right:10px;") Chương trình Biểu tượng “Bông sen vàng” được giới thiệu lần đầu vào ngày 20/10/2002 đánh dấu bước khởi đầu trong việc xây dựng định hướng toàn diện về thương hiệu của S Airlines và đã đạt được nhiều thành công đáng kể trên toàn thế giới.
                    p(style="text-align:justify;margin-right:10px;") Cùng với sự đầu tư lớn về đội bay và nâng cấp chất lượng dịch vụ, năm 2015, S Airlines đã cho ra mắt Hệ thống nhận diện thương hiệu mới trên cơ sở kế thừa và phát huy các giá trị nhận diện sẵn có. Hệ thống mới với biểu tượng hoa sen và các yếu tố văn hóa Việt là nguồn cảm hứng chủ đạo, tiếp tục khẳng định vai trò tiên phong của S Airlines trong việc giới thiệu vẻ đẹp đất nước, con người Việt Nam ra thế giới.
    br
    br
    br
    .search.search-box
        h3.title Lịch Sử Phát Triển
        .card-body
            .row
                .col-6(style="font-size:15px;")
                   p(style="font-weight: bold;") Thời kỳ đầu tiên
                   p(style="text-align:justify;") Lịch sử của Hãng hàng không Quốc gia Việt Nam bắt đầu từ tháng Giêng năm 1956, khi Cục Hàng không Dân dụng được Chính phủ thành lập, đánh dấu sự ra đời của Ngành Hàng không Dân dụng ở Việt Nam. Vào thời điểm đó, đội bay còn rất nhỏ, với vẻn vẹn 5 chiếc máy bay cánh quạt IL 14, AN 2, Aero 45… Chuyến bay nội địa đầu tiên được khai trương vào tháng 9/1956.

                    p(style="text-align:justify;") Giai đoạn 1976 - 1980 đánh dấu việc mở rộng và khai thác hiệu quả nhiều tuyến bay quốc tế đến các các nước châu Á như Lào, Campuchia, Trung Quốc, Thái Lan, Philippines, Malaysia và Singapore. Vào cuối giai đoạn này, hàng không dân dụng Việt Nam trở thành thành viên của Tổ chức Hàng không Dân dụng Quốc tế (ICAO).
                    p(style="text-align:justify;") Tháng 4 năm 1993, Hãng Hàng không Quốc gia Việt Nam (S Airlines) chính thức hình thành với tư cách là một đơn vị kinh doanh vận tải hàng không có quy mô lớn của Nhà nước. Vào ngày 27/05/1995, Tổng Công ty Hàng không Việt Nam được thành lập trên cơ sở liên kết 20 doanh nghiệp hoạt động kinh doanh dịch vụ hàng không, lấy S Airlines làm nòng cốt.
                .col-6(style="font-size:15px;")  
                    p(style="font-weight: bold;") Những cột mốc đáng nhớ
                    p(style="text-align:justify;") Năm 1993: Thành lập Hãng hàng không quốc gia Việt Nam
                    p(style="text-align:justify;") Năm 1995: Thành lập Tổng công ty Hàng không Việt Nam gồm Hãng hàng không quốc gia Việt Nam và 20 doanh nghiệp trong ngành
                    p(style="text-align:justify;") Năm 2002: Giới thiệu biểu tượng mới - Bông Sen Vàng gắn với các cải tiến vượt trội về chất lượng dịch vụ, mở rộng mạng bay và nâng cấp đội bay
                    p(style="text-align:justify;") Năm 2003: Tiếp nhận đưa vào khai thác tàu bay hiện đại Boeing 777 đầu tiên, khởi đầu chương trình hiện đại hóa đội bay
                    p(style="text-align:justify;") Năm 2006: Trở thành thành viên chính thức của IATA
                    p(style="text-align:justify;") Năm 2010: Chính thức là thành viên thứ 10 của Liên minh hàng không Skyteam
                    p(style="text-align:justify;") Năm 2014: Chào bán thành công cổ phần lần đầu ra công chúng tại Sở giao dịch chứng khoán TP HCM
                    p(style="text-align:justify;") Năm 2015:
                    p(style="text-align:justify;") - 04/2015: Chính thức hoạt động theo mô hình CTCP từ ngày 01/4/2015
                    p(style="text-align:justify;") - 07/2015: Trở thành hãng hàng không đầu tiên của Châu Á và thứ 2 trên thế giới tiếp nhận máy bay thế hệ mới Airbus A350-900, đồng thời ra mắt hệ thống nhận diện thương hiệu mới

    br
    br
    br

    script(src="js/search.js") 
